.header-top{
  text-align:center;
}

.student-container{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  flex-wrap:wrap;
}

.card{
      width:30vw;
      margin:1em;
      padding:2em;
}